.list-table__format {
  display: grid;
  grid-template-columns: 1fr 0.5fr 1fr 2fr 0.5fr;
  align-items: center;
  gap: 10px;
  padding: 12px 15px;
  border: 1px solid #cacaca;
  font-size: 13px;
}

.list-table-format .title {
  background-color: #f9f9f9;
}

.list-table-format img {
  width: 50px;
}

@media (max-width: 600px) {
  .list-table__format {
    grid-template-columns: 0.5fr 2fr;
    gap: 15px;
  }

  .list-table__format.title {
    display: none;
  }
}
