.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 4%;
  background-color: rgb(0, 0, 0);
}

.navbar .logo {
  width: max(6%, 80px);
}

.navbar .profile {
  width: 40px;
}
